#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 60vw;
  margin-top: 10rem;
}

div.playground {
  min-height: 30vh;
  width: 100%;
  padding-left: 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.timeline {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}

.line {
  border-left: 3px solid grey;
  width: 10px;
  height: 50px;
}

.line-content {
  height: 50px;
}

.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: grey;
  position: relative;
  left: -9px
}

.circle-content {
  height: 20px;
  position: relative;
  top: -20px;
  left: -100px;
}
